# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Env
.env*

# IDE
.idea/
*.iml
.vscode/

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# binaries
bin/

# misc
*.log
.DS_Store
