# Flutter
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/

# Env
.env*

# IDE
.idea/
*.iml
.vscode/

# iOS/macOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Runner.xcworkspace/xcshareddata/swiftpm/
app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
app/macos/Pods/
app/macos/.symlinks/

# Firebase (local config)
app/firebase.json
app/lib/firebase_options.dart
app/ios/Runner/GoogleService-Info.plist
app/macos/Runner/GoogleService-Info.plist

# binaries
bin/

# misc
*.log
.DS_Store
